{% extends "base/base.html" %}

{% block head %}
    <meta charset="UTF-8"> 
    <link rel="stylesheet" type="text/css" href="static/likes/likes.css">
    <!-- <script type="text/javascript" src="/static/likes/likes.js"></script>    -->
    <script src="https://kit.fontawesome.com/9ee89a632a.js" crossorigin="anonymous"></script>
    <script src="/static/likes/swiped.min.js"></script>
{% endblock %}

{% block body %}

<body translate="no">
    <div class='header'>
        <a href="home"><button type="submit" class="return"><i class="fas fa-chevron-circle-left"></i></button></a>
        Liked cars
    </div>

    <div class='liked_car_container'>

        <ul class="liked-cont" id="liked-cont">
            
        </ul>

    </div>

    <script type="text/javascript" src="/static/likes/likes.js"></script>   

</body>

{% endblock %}