*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 62.5%;
}

body {
	/* background: #63BDF7; */
	overflow: hidden;
}

button {
	font-size: 50px !important;
	background-color: #248cb6;
	border-radius: 12px;
}
.search_page {
	float: left;
	background-color: rgb(223, 223, 223);
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 10px;
	padding: 10px;
	width: 300px;
}
.likes_page {
	float: right;
	background-color: rgb(223, 223, 223);
	margin-top: 15px;
	margin-right: 15px;
	border-radius: 10px;
	padding: 10px;
	width: 300px;
}

.cardstack_container {
	position: absolute;
	left: 2.5%;
	top: 5%;
	width: 95%;
	height: 90%;
	/* margin-left: -15.3rem;
    margin-top: -27rem; */
	/* background: #F6F6F5; */
	/* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); */
}
.cardstack_inner_container {
	overflow: hidden;
	position: relative;
	height: 100%;
	padding-top: 20%;
}
.cardstack_cards {
	position: relative;
	width: 80%;
	height: 90%;
	margin: 0 auto 5rem;
}
.card {
	z-index: 2;
	position: absolute !important;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	border-radius: 25px !important;
}
.card.reset {
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	-webkit-transform: translateX(0) !important;
	transform: translateX(0) !important;
}
.card.reset .card__choice {
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	opacity: 0 !important;
}
.card.inactive {
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}
.card.to-left {
	-webkit-transform: translateX(-30rem) rotate(-30deg) !important;
	transform: translateX(-30rem) rotate(-30deg) !important;
}
.card.to-right {
	-webkit-transform: translate(30rem) rotate(30deg) !important;
	transform: translate(30rem) rotate(30deg) !important;
}
.card.below {
	z-index: 1;
}
.card__top {
	height: 55%;
	padding-top: 10%;
	border-radius: 25px 25px 0 0;
}

.card__img {
	overflow: hidden;
	width: 90%;
	height: auto;
	margin: 0 auto 1.5rem;
	border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card__img img {
	width: 100%;
}

.card__name {
	text-align: center;
	font-size: 6rem;
	font-weight: bold;
	color: #fff;
}
.card__btm {
	height: 45%;
	background: #ffffff;
	border-radius: 0 0 25px 25px;
}
.card__we {
	text-align: center;
	font-size: 2.2rem;
	line-height: 11.5rem;
}
.card__choice {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.card__choice:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 2rem;
	height: 2rem;
	margin-left: -1rem;
	color: #fff;
	border-radius: 50%;
	box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}
.card__choice:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 4rem;
	height: 1.5rem;
	margin-left: -2rem;
	border: 0.6rem solid #fff;
	border-bottom: none;
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
}
.card__choice.m--reject {
	background: #ff945a;
	border-radius: 25px;
	pointer-events:none;
}
.card__choice.m--like {
	background: #b1da96;
	border-radius: 25px;
	pointer-events:none;
}
.card__choice.m--like:after {
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}
.card__drag {
	z-index: 5;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: -webkit-grab;
	cursor: grab;
}

.card_bot_header {
	border-bottom: 3px solid gray;
	height: 150px;
}

.price {
	float: left;
	margin-left: 10px;
	font-size: 90px;
}

.miles {
	float: right;
	margin-right: 10px;
	font-size: 90px;
}

.element {
	height: 100px;
	width: 100%;
	font-size: 50px;
	display: flex;
	align-items: center;
	position: relative;
	line-height: 100px;
}

.element img {
	width: 70px;
	padding: 10px;
}

.element:after {
	position: absolute;
	content: "";
	margin-top: 45px;
	height:1px;
	width:85%;
	border-bottom:2px solid gray;
}