.welcome-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animation-container {
    height: 25%;
    width: 100%;
    text-align: center;
}

.login-container {
    height: 25%;
    width: 100%;
    text-align: center;
    padding-top: 10%;
    color: #465667;
    font-size: 3em;
}

.login-options {
    width: 84%;
    /* margin: top right bottom left */
    margin: 5% 8% 0% 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}