.liked_car_container {
}
.liked_car_item {
	height: 8rem;
	font-size: 2rem;
	text-align: center;
	border-bottom-width: 3px;
	border-color: blue;
	border-bottom-style: solid;
}
.header {
	text-align: center;
	font-size: 5rem;
	border-bottom-width: 5px;
	border-color: black;
	border-bottom-style: solid;
}
.car_photo {
	
}
